body {
    background-color: rgb(28, 165, 135);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h4 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-bottom: -5px;
}

.grid-container {
	display: grid;
	text-align: left;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-row-gap: 25px;
	grid-column-gap: 10px;
}
